.collection-item .title {
  font-size: 16px;
}

.collection-item .icon, .collection-item .details {
  float: left;
}

.clear {
  clear: left;
}

.collection-item {
  display: block !important;
  cursor: pointer;
}


.collection-item .select {
  visibility: hidden;
}

.collection-item.selected .select {
  visibility: visible;
}

.collection-item.selected .task {
  display: none;
}

.collection-item .select-dropdown {
  z-index: 99999;
}

.row.no-margin-bottom {
  margin-bottom: 0;
}
